<h1 class="text-center">
  Presentation Proposal Form
</h1>

<div class="row">
  <p class="lead">
    Please use this form to indicate the details of your proposed presentation. Contributed presentations will be eligible to be
    included in oral sessions. All contributed presentations not selected for inclusion in an oral session will be given a slot in the
    poster session. For questions, please contact programming chair at chmielewski@iit.edu
  </p>
  <p class="lead">
    The submission deadline for contributed presentations is November 7, 2014.
  </p>
  <div class="text-center">
    <iframe src="https://docs.google.com/forms/d/1GoVhrp7DfbZwAggyVa67TdiNQ8vQ9VjMEsMq2yxhOgI/viewform?embedded=true" width="800" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>