<h1 class="text-center">
  Sponsorship Information
</h1>

<div class="row">

  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-header">
        <h2>$500</h2>
        <h3>Bronze </h3>
      </div>
      <div class="pricing-table-text">
        <p>Benefits include:</p>
      </div>
      <div class="pricing-table-features">
        <p>Table-top display or exhibition booth</p>
        <p>Recognition on signage at the conference</p>
        <p>Recognition in on-site conference program sponsor</p>
      </div>
      <div class="pricing-table-signup text-center">
        <p><a href="http://www.cvent.com/events/sponsorship-of-7th-annual-aiche-midwest-regional-conference/event-summary-67975ee08e174bf993d5b436068ff629.aspx?tw=EC-A2-D7-24-10-5E-6E-61-61-A6-8F-C6-F1-10-C5-38" target="_blank">Sponsor</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-header">
        <h2>$1500</h2>
        <h3>Silver </h3>
      </div>
      <div class="pricing-table-text">
        <p>Benefits include all the benefits of a Bronze Sponsor plus:</p>
      </div>
      <div class="pricing-table-features">
        <p>Recognition on the AIChE National Web Site and AIChE Chicago Local Section Web Site with link to your site</p>
        <p>One full meeting registrations</p>
      </div>
      <div class="pricing-table-signup text-center">
        <p><a href="http://www.cvent.com/events/sponsorship-of-7th-annual-aiche-midwest-regional-conference/event-summary-67975ee08e174bf993d5b436068ff629.aspx?tw=EC-A2-D7-24-10-5E-6E-61-61-A6-8F-C6-F1-10-C5-38" target="_blank">Sponsor</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-header">
        <h2>$3000</h2>
        <h3>Gold </h3>
      </div>
      <div class="pricing-table-text">
        <p>Benefits include all the benefits of a Silver Sponsor plus:</p>
      </div>
      <div class="pricing-table-features">
        <p>Half-page ad in on-site conference program book</p>
        <p>One additional full meeting registrations</p>
      </div>
      <div class="pricing-table-signup text-center">
        <p><a href="http://www.cvent.com/events/sponsorship-of-7th-annual-aiche-midwest-regional-conference/event-summary-67975ee08e174bf993d5b436068ff629.aspx?tw=EC-A2-D7-24-10-5E-6E-61-61-A6-8F-C6-F1-10-C5-38" target="_blank">Sponsor</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-header">
        <h2>$5000</h2>
        <h3>Platinum </h3>
      </div>
      <div class="pricing-table-text">
        <p>Benefits include all the benefits of a Gold Sponsor plus:</p>
      </div>
      <div class="pricing-table-features">
        <p>Upgrade to one full-page ad in on-site conference program book</p>
        <p>Two additional full meeting registrations</p>
      </div>
      <div class="pricing-table-signup text-center">
        <p><a href="http://www.cvent.com/events/sponsorship-of-7th-annual-aiche-midwest-regional-conference/event-summary-67975ee08e174bf993d5b436068ff629.aspx?tw=EC-A2-D7-24-10-5E-6E-61-61-A6-8F-C6-F1-10-C5-38" target="_blank">Sponsor</a></p>
      </div>
    </div>
  </div>

</div>