<div class="text-center">
  <h1>
    AIChE | Midwest Regional Conference
    <br/>
    <small>March 12 - 13, 2015</small>
  </h1>
</div>

<img src="http://duranvirginia.files.wordpress.com/2013/12/virginia-duran-blog-chicago-best-skyline-views-illinois-institute-of-technology-tower-3.jpg" class="img-responsive">

<br/>
<p class="lead">
  The AIChE Midwest Regional Conference (MRC) continues into its 7th year. Organized by
  the <a href="http://aiche-chicago.org/" target="_blank">Chicago Local Section</a> and
  Hosted by the <a href="http://web.iit.edu/" target="_blank">Illinois Institute of Technology</a>,
  the AIChE MRC provides an opportunity for engineers and scientists in the region to
  learn about new technologies and network with others in the region. A particular
  objective of the conference is to build technical relationships between industrial
  practitioners and governmental/academic researchers.
</p>

<div class="row text-center">
  <div class="col-md-6">
    <img src="images/aiche-logo.png">
  </div>
  <div class="col-md-6">
    <img src="images/ace-logo.png">
  </div>
</div>