<h1 class="text-center">
  Venue Information
</h1>
<div class="row">
  <div class="col-md-8">
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2972.6657547113778!2d-87.6284713!3d41.835495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c12abb004a1%3A0x54a606b1291d7107!2s3241+S+Federal+St!5e0!3m2!1sen!2s!4v1402853869300" width="600" height="425" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
  <div class="col-md-4">
    <h3>
      Hermann Hall
    </h3>
    <h5>
      March 12 - 13, 2015
    </h5>
    <h5>
      3241 S Federal St<br/>
      Illinois Institute of Technology<br/>
      Chicago, IL 60616
    </h5>
    <h5>
      <a href="http://web.iit.edu/about/main-campus-map" target="_blank">
        Campus Map
      </a>
      <br>
      <a href="http://web.iit.edu/about/main-campus-directions" target="_blank">
        Campus Directions
      </a>
      <br>
      <a href="http://www.iit.edu/~parking/" target="_blank">
        Campus Parking
      </a>
    </h5>
  </div>
</div>
